*, ::after, ::before { /* Y'avait un petit problème, le viewport était scrollable vers la droite sans ajouter ça, ce qui menait vers une bordure blanche */
    box-sizing: border-box;
    max-width: 100vw;
  }

.color_w{
    background-color: white;
}



/* Toutes les classes concernant la navbar */
.nav_color { /* Application de la couleur d'arrière plan */
    background-color: #030712; 
}

.nav_brand { /* Application de la couleur du texte de la navbar*/
    color: #F9FAFB;
}

.divider_color {
    color: #1F2937;
}

.nav_brand_size { /* Application de la taille du nav_brand de gauche*/
    font-size: 30px;
}

.nav_elements_size { /* Application de la taille de tout les éléments à la droite du nav_brand */
    font-size: 16px;
}

@media (max-width:1199px){
    
    .nav_elements_size { /* Application de la taille de tout les éléments à la droite du nav_brand */
        font-size: 13px;
    }
    .
}

.nav_elements_size_2 { /* Application de la taille de tout les éléments à la droite du nav_brand */
    font-size: 16px;
}

.nav_cv { /* Application de la couleur du texte du bouton */
    color: #111827;
}

.complete_nav_margin { /* Application de marges intérieures de la navbar*/
    padding-left: 80px;
    padding-right:80px;
    padding-top: 1rem;
    padding-bottom: 1rem;
}
 


/* Container le deuxième */
.flex_after_navbar {
    padding: 96px 80px;
    background-color: #030712; 
}

/* Je ne pense pas qu'il y ait besoin de commenter les quelques classes suivantes, ce n'est que de l'application 
de padding, margin, taille des caractères, couleur, background_couleur, etc... Du basique */
.container_padding {
    padding-top: 96px;
    padding-bottom: 96px;
}

.row_in_container_padding {
    padding-left: 32px;
    padding-right: 32px;
    margin-left:32px;
    margin-right:32px;
}

.title_in_container {
    font-size: 60px;
    letter-spacing: -1.2px;
    color: #F9FAFB;
}

.p_in_container {
    color: #D1D5DB;
}
.img_size {
    width: 240px;
height: 280px; 
}

.img_size_2 {
    width: 400px;
height: 480px; 
}

.title_in_container_2 {
    font-size: 14px;
    color: #D1D5DB;
    line-height: 20px; 
    background-color: #374151;
    padding-left: 20px;
    padding-right: 20px;
    border-radius:12px;
    margin-bottom: 16px;
}

.title_2_in_container_2 {
    font-size: 14px;
    color: #D1D5DB;
    line-height: 20px; 
    background-color: #374151;
    padding-left: 20px;
    padding-right: 20px;
    border-radius:12px;
    margin-bottom: 16px;
}

.container_2 {
    padding: 96px 80px;
    background-color: #111827; 
}


.div_color_1 {
    background-color: #030712; 
}
.div_color_2 {
    background-color: #111827; 
}

.title_sub_container_2 {
    font-size: 30px;
    line-height: 36px;
    letter-spacing: -0.6px; 
    color: #F9FAFB;
}

.p_container_2 {
    color: #D1D5DB;
}

.p_container_3 {
    font-size: 20px;
    color: #D1D5DB;
    line-height:28px;
}
.p_last_container {
    
    color: #D1D5DB;
    line-height:28px;
}
.p_last_last_container {
    color: #111827;
    line-height:28px;
}
.row_style_container_4 {
    padding: 32px;
    border-radius: 12px; 
 background-color: #1F2937;
 box-shadow: 0px 25px 25px 0px rgba(0, 0, 0, 0.15);


}

.title_in_container_4 {
    line-height: 28px;
    color: #F9FAFB;
}

.list_in_container_4 {
    color:#D1D5DB;
    padding-left:0px;
}

.col_design_container_5_left {
    border-radius: 12px 0px 0px 12px;
    box-shadow: 0px 25px 25px 0px rgba(0, 0, 0, 0.15);
background-color: #374151;
}

.col_design_container_5_right {
    
    border-radius: 0px 12px 12px 0px; 
 background-color: #1F2937;
 box-shadow: 0px 25px 25px 0px rgba(0, 0, 0, 0.15);


}

.img_size_container_5 {
    border-radius:12px;
    height:325px;
box-shadow: 0px 10px 8px 0px rgba(0, 0, 0, 0.04), 0px 4px 3px 0px rgba(0, 0, 0, 0.10); 
}

.margin-l {
    margin-left:20px;
    margin-right:20px;
}

.fs-size {
    font-size: 36px;
}

.img_width {
    width: 105px;
}
.prob_size {
    font-size: 1.25rem;
}

.prob_size_2 {
    font-size: 1.25rem;
}

/* Juste de l'ajustement de taille */
@media (max-width:309px){
    
    .fs-size {
        font-size: 6px;
    }
}
@media (max-width:340px){
    
    .prob_size {
        font-size: 0.85rem;
    }
    .prob_size_2 {
        font-size: 0.75rem;
    }
}
@media (max-width:305px){
    
    .prob_size {
        font-size: 0.75rem;
    }
    .prob_size_2 {
        font-size: 0.75rem;
    }

   .fs-6 {
    font-size:0.75rem!important
   }
    .title_2_in_container_2 {
        font-size: 9px;
        color: #D1D5DB;
        line-height: 20px; 
        background-color: #374151;
        padding-left: 20px;
        padding-right: 20px;
        border-radius:12px;
        margin-bottom: 16px;
    }
    
}
@media (max-width:281px){
    
    .prob_size {
        font-size: 0.75rem;
    }
    .prob_size_2 {
        font-size: 0.75rem;
    }
    
}

@media (max-width:328px){
    
    .title_in_container_2 {
        font-size: 14px;
        color: #D1D5DB;
        line-height: 20px; 
        background-color: #374151;
        padding-left: 20px;
        padding-right: 15px;
        border-radius:12px;
        margin-bottom: 16px;
    }
}

@media (max-width:286px){
    
    .prob_size {
        font-size: 0.65rem;
    }
    .img_width {
        width: 60px;
    }
}

@media (max-width:310px){
    
    .img_width {
        width: 80px;
    }
    
}

@media (max-width:324px){
    
    .nav_brand_size {
        font-size: 4px;
    }
    
}

@media (max-width:328px){
    
    .list_in_container_4 {
        color:#D1D5DB;
        padding-left:0px;
        font-size:0.55rem;
    }
    
}
@media (max-width:992px) and (min-width:768px){
    
    .fs-size {
        font-size: 30px;
    }
    .
}

@media (max-width:767px) and (min-width:518px){
    
    .fs-size {
        font-size: 20px;
    }
    .
}

@media (max-width:517px) and (min-width:442px){
    
    .fs-size {
        font-size: 15px;
    }
    .
}

@media (max-width:441px) and (min-width:396px){
    
    .fs-size {
        font-size: 12px;
    }
    .
}

@media (max-width:395px) and (min-width:310px){
    
    .fs-size {
        font-size: 10px;
    }
    .
}


@media (max-width:1199px){
    
    .img_size_container_5 {
        border-radius:12px;
        height:250px;
    box-shadow: 0px 10px 8px 0px rgba(0, 0, 0, 0.04), 0px 4px 3px 0px rgba(0, 0, 0, 0.10); 
    }
    .
}

@media (max-width:991px){
    
    .img_size_container_5 {
        border-radius:12px;
        height:275px;
    box-shadow: 0px 10px 8px 0px rgba(0, 0, 0, 0.04), 0px 4px 3px 0px rgba(0, 0, 0, 0.10); 
    }
    .
}
@media (max-width:767px){
    
    .img_size_container_5 {
        border-radius:12px;
        height:175px;
    box-shadow: 0px 10px 8px 0px rgba(0, 0, 0, 0.04), 0px 4px 3px 0px rgba(0, 0, 0, 0.10); 
    }
    .
}

@media (max-width:536px){
    
    .img_size_container_5 {
        border-radius:12px;
        height:172px;
    box-shadow: 0px 10px 8px 0px rgba(0, 0, 0, 0.04), 0px 4px 3px 0px rgba(0, 0, 0, 0.10); 
    }
    .
}

@media (max-width:514px){
    
    .img_size_container_5 {
        border-radius:12px;
        height:160px;
    box-shadow: 0px 10px 8px 0px rgba(0, 0, 0, 0.04), 0px 4px 3px 0px rgba(0, 0, 0, 0.10); 
    }
    .
}

@media (max-width:480px){
    
    .img_size_container_5 {
        border-radius:12px;
        height:140px;
    box-shadow: 0px 10px 8px 0px rgba(0, 0, 0, 0.04), 0px 4px 3px 0px rgba(0, 0, 0, 0.10); 
    }
    .
}

@media (max-width:456px){
    
    .img_size_container_5 {
        border-radius:12px;
        height:120px;
    box-shadow: 0px 10px 8px 0px rgba(0, 0, 0, 0.04), 0px 4px 3px 0px rgba(0, 0, 0, 0.10); 
    }
    .
}

@media (max-width:426px){
    
    .img_size_container_5 {
        border-radius:12px;
        height:100px;
    box-shadow: 0px 10px 8px 0px rgba(0, 0, 0, 0.04), 0px 4px 3px 0px rgba(0, 0, 0, 0.10); 
    }
    .
}

@media (max-width:386px){
    
    .img_size_container_5 {
        border-radius:12px;
        height:90px;
    box-shadow: 0px 10px 8px 0px rgba(0, 0, 0, 0.04), 0px 4px 3px 0px rgba(0, 0, 0, 0.10); 
    }
    .
}

@media (max-width:350px){
    
    .img_size_container_5 {
        border-radius:12px;
        height:60px;
    box-shadow: 0px 10px 8px 0px rgba(0, 0, 0, 0.04), 0px 4px 3px 0px rgba(0, 0, 0, 0.10); 
    }
    .
}

@media (max-width:308px){
    
    .img_size_container_5 {
        border-radius:12px;
        height:40px;
    box-shadow: 0px 10px 8px 0px rgba(0, 0, 0, 0.04), 0px 4px 3px 0px rgba(0, 0, 0, 0.10); 
    }
    .
}


@media (max-width:991px){

    .col_design_container_5_left {
        border-radius: 12px 12px 0px 0px;
    border-right: 1px solid #1F2937;
    background: #374151;
    }
    
    .col_design_container_5_right {
    
        border-radius: 0px 0px 12px 12px; 
     background-color: #1F2937;
     box-shadow: 0px 25px 25px 0px rgba(0, 0, 0, 0.15);
    
    
    }
    .
}
@media (max-width:400px) and (min-width:377px){
     
    .nav_brand_size { /* Application de la taille du nav_brand de gauche*/
        font-size: 14px;
    }
    .
}
@media (max-width:376px) and (min-width:325px){
     
    .nav_brand_size { /* Application de la taille du nav_brand de gauche*/
        font-size: 14px;
    }
    .
}


@media (max-width:1399px) and (min-width: 1199px) {
    .title_in_container {
        font-size: 45px;
        letter-spacing: -1.2px;
        color: #F9FAFB;
    }

}
@media (max-width:1198px) and (min-width: 993px) {
    .title_in_container {
        font-size: 36px;
        letter-spacing: -1.2px;
        color: #F9FAFB;
    }

}
@media (max-width:992px) and (min-width: 992px) {
    .title_in_container {
        font-size: 30px;
        letter-spacing: -1.2px;
        color: #F9FAFB;
    }

}
@media (max-width:991px) and (min-width: 747px) {
    .title_in_container {
        font-size: 29px;
        letter-spacing: -1.2px;
        color: #F9FAFB;
    }

}
@media (max-width:746px) and (min-width: 501px) {
    .title_in_container {
        font-size: 36px;
        letter-spacing: -1.2px;
        color: #F9FAFB;
    }

}

@media (max-width:500px) and (min-width:416px) {
    .title_in_container {
        font-size: 25px;
        letter-spacing: -1.2px;
        color: #F9FAFB;
    }

 
}


@media (max-width:415px) {
    .title_in_container {
        font-size: 18px;
        letter-spacing: -1.2px;
        color: #F9FAFB;
    }

}

@media (max-width:400px) {
    .img_size_2 {
        width: 240px;
        height: 280px; 
    }
    
    .title_sub_container_2 {
        font-size: 20px;
        line-height: 36px;
        letter-spacing: -0.6px; 
        color: #F9FAFB;
    }

}

@keyframes roundo { /* Faire tourner sur lui même le symbole du soleil */
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

@keyframes wave { /* Faire tanguer le bouton de droite à gauche */
    0% {
      transform: rotate(0deg);
    }
    20% {
      transform: rotate(-10deg);
    }
    40% {
      transform: rotate(10deg);
    }
    60% {
      transform: rotate(-10deg);
    }
    80% {
      transform: rotate(10deg);
    }
    100% {
      transform: rotate(0deg);
    }
  }
/* Les classes permettant d'appliquer l'effet d'une animation à une balise ou autre*/
  span.wave-emoji {
    display: inline-block;
    animation: wave 4s infinite;
  }

  span.roundo-emoji {
    display: inline-block;
    animation: roundo 4s infinite;
  }

/*@keyframes wave {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(20deg);
    }
*/
* {
    font-family: 'Inter', sans-serif;
}